.SiteTitle {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    max-width: 7.5rem;
    padding: 1rem;
}

.App {
    display: flex;
}

.Section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.SiteIntro {
    padding: 1.5rem;
    text-align: center;
    font-style: italic;
}

.SiteMain {
    width: 100%;
    min-height: 100vh;
    display: flex;
}

radio4000-player {
    width: 100%;
    max-width: 25rem;
}
radio4000-player .TrackList-list {
        min-height: 38vh;
}

.Deck {
    padding-left: 2rem;
    padding-right: 2rem;
}

.Deck-switcher input {
    width: 100%;
}

.Input--search {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    margin-top: 0.5rem;
}
input[type="search"] {
    -webkit-appearance: inherit;
}

