.ChannelCards {
    padding-top: 1rem;
    padding-bottom: 1em;
}
.ChannelCard {
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    // to break long words
    word-break: break-all;
    word-wrap: break-word;
}
